#inputForm {
  padding: 20px;
  margin-right: 340px;
}
#jsmol {
  margin-top:20%;
  float:right;
  border: 1px solid blue;
}
.inputField {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.inputBox {
  margin-left: 10%;
}
