#inputForm {
  padding: 20px;
  margin-right: 340px;
}
#jsmol {
  margin-top:330px;
  float:right;
  border: 1px solid blue;
}
#jsme {
  width: 400px;
  height: 300px;
  float:right;
}
.inputField {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}
.inputBox {
  margin-left: 10%;
}
